<div class="ArticleFilters-container">
    
    <!-- websites -->
    <div class="ArticleFilters-filterContainer">
        <div class="ArticleFilters-filterLabel">Websites</div>
        {% for website in websites %}
            <div class="ArticleFilters-checkboxContainer">
                <input class="ArticleFilters-filterCheckbox ArticleFilters-filterCheckboxWebsites" type="checkbox" name="{{ website.data.name }}" checked />
                <label class="ArticleFilters-filterCheckboxLabel" for="{{ website.data.name }}">{{ website.data.name }}</label>
            </div>
        {% endfor %}
    </div>
    

    <!-- article types -->
    <div class="ArticleFilters-filterContainer">
        <div class="ArticleFilters-filterLabel">Article Types</div>
        {% for type in articleTypes %}
            <div class="ArticleFilters-checkboxContainer">
                <input class="ArticleFilters-filterCheckbox ArticleFilters-filterCheckboxArticleTypes" type="checkbox" name="{{ type.data.name }}" checked />
                <label class="ArticleFilters-filterCheckboxLabel" for="{{ type.data.name }}">{{ type.data.name }}</label>
            </div>
        {% endfor %}
    </div>

    <!-- submit -->
    <button class="ArticleFilters-applyBtn" id="ArticleFilters-applyFiltersBtn">Apply filters</button>
    
</div>