---
layout: 'base.liquid'
pagination:
    data: collections.articleArchives
    size: 1
    alias: date
permalink: "{{ date.year }}/{{ date.month }}/{{ date.day }}/index.html"
title: "Archive - {{ date.year }}/{{ date.month }}/{{ date.day }}"
---
<div class="Archive-container">

    {% render "components/calendar.liquid" %}

    <div class="Archive-articleContainer">
        <div class="Archive-dateDisplay">
            HEADER
        </div>

        <div class="Archive-websiteColumnContainer">
            ARTICLES
        </div>
    </div>

</div>